<!-- One page-->
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">HOME</a>
            </li>
            <li class="breadcrumb-item">HELP
                <a href="#"></a>
            </li>
            <li class="breadcrumb-item active"></li>
        </ol>
        <div class="row">
            <div class="col-12">
                <h1>Title of the page</h1>
                <p>It is body of page</p>
            </div>
        </div>
    </div>
</div>